# CloudText (`https://cloudtext.ru` if you don't have organization name)
CLOUDTEXT_BASE_URL=https://your-school.cloudtext.ru
CLOUDTEXT_EMAIL=me@example.com
CLOUDTEXT_PASSWORD=XXXXX

# Telegram
BOT_TOKEN=123456:ABC-DEF
OWNER_TGID=0

# Telegram API (for Telethon)
TG_API_ID=0
TG_API_HASH=your_api_hash
TG_SESSION=session

# Database
DB_URL=postgresql://bot:bot@postgres/bot
REDIS_URL=redis://redis

# Google Sheets
GSHEETS_CREDS_FILE=credentials.json
SPREADSHEETS_FOLDER_ID=your_google_drive_folder_id
