# CloudText (`https://cloudtext.ru` if you don't have organization name)
CLOUDTEXT_BASE_URL=https://your-school.cloudtext.ru
CLOUDTEXT_EMAIL=me@example.com
CLOUDTEXT_PASSWORD=XXXXX

# Telegram
OWNER_TGID=0
BOT_TOKEN=123456:ABC-DEF

# Google Sheets
SPREADSHEETS_FOLDER_ID=
TEMPLATE_SPREADSHEET_ID=
GSHEETS_CREDS_FILE=mycreds.json
