# CloudText (`https://cloudtext.ru` if you don't have pseudoname)
CT_BASE_URL=https://your-school.cloudtext.ru
CT_COOKIES_FILE=cookies.json

# Telegram
BOT_TOKEN=123456:ABC-DEF

# Google Sheets
SPREADSHEETS_FOLDER_ID=
TEMPLATE_SPREADSHEET_ID=
GSHEETS_CREDS_FILE=mycreds.json
